body, html {
    font-family: 'Quicksand', sans-serif;
}
#header {
width: 100%;
background-color: transparent;
transition: background ease-out .2s;
}

#header .navbar-collapse{
    width: 100%;
    
}

#header .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--primary);
    border-bottom: solid 2px transparent;
    width: 100px
}

#header .nav-link:hover{
    border-bottom: solid 2px var(--secondary);
    width: 100px;
    color:var(--secondary);
}



.card {

    background-color:transparent;

    padding: 80px;

    border-radius: 2px;

    width:450px;

    margin-left: 300px;;

    border-color: var(--secondary);
    align-items: center;
    justify-content: center;

}
.card-header {

    padding-bottom: 50px;

    opacity: 0.8;

    color: var(--primary);
    background: transparent;
    border: transparent ;

}

.card-header::after {

    content: "";

    width: 235px;

    height: 1px;

    background-color:var(--secondary);

    display: block;

    margin-top: -5px;

    margin-left: -5px;

}
.card-content label {

    color: var(--primary);

    font-size: 20px;

    opacity: 1.0;

}
.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid var(--primary);

    outline: none;

    color:var(--primary);

}

.card-footer {

    display: flex;

    flex-direction: column;

    background-color: transparent;

    border: transparent;

}


.card-footer .submit{

    width: 100%;

    height: 40px;

    margin: 10px 0;

    
}
.imagem{
    align-items: center;
    justify-content: center;
    }